<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Maktaba</display-name>
	<!-- <welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list> -->
	<servlet>
		<servlet-name>ControllerPerpustakaan</servlet-name>
		<servlet-class>com.fajar.Controller.ControllerPerpustakaan</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>BlogController</servlet-name>
		<servlet-class>com.fajar.Controller.BlogController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControllerPerpustakaan</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BlogController</servlet-name>
		<url-pattern>/blog/</url-pattern>
	</servlet-mapping>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error.jsp</location>
	</error-page>
	<context-param> 
      <description>Location to store uploaded file</description> 
      <param-name>file-upload</param-name> 
      <param-value>
        D:\apache-tomcat-7.0.82\images\
      </param-value> 
   </context-param>
</web-app>